
body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}


header {
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    padding: 30px 10px;
}

header h1 {
    font-weight: bold;
}

header p {
    color: darkred;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    padding: 0px;
}


Nav img {
    position: absolute;
    left: 50px;
    top: 20px;
    width: 125px;
    height: auto;
}

/* Barra de navegacion */
Nav ul {
    list-style: none;
    background-color: rgb(61, 0, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

Nav ul li {
    padding: 14px 20px;
}

Nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}

section {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    gap: 20px;
}
/* Configurar las Gorras de arriva */
.gorras {
    background-color: aliceblue;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 4px 8x rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), alpha);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.gorras:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 12px rgba(rgb(87, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), alpha);
}

.gorras img {
    width: 100%;
    min-height: auto;
    border-radius: 10px 10px 0;
    margin-bottom: 15px;
}

.gorras img {
    background-color: rgb(94, 0, 0);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), alpha);
    padding: 10px;
    width: 300px;
}

footer {
    background-color: rgb(71, 0, 0);
    text-align: center;
    margin: 10px;
    padding: 3px;
}

footer p {
    color: aliceblue;
    font-weight: bold;
}



